.tooltip-info > .tooltip-inner {
    background-color: #172b4d;
    color: #fff;
    border: 1px solid #172b4d;
  }

  .tooltip-info > .tooltip-arrow {
    border-top: 5px solid #172b4d;
  }

  .tooltip-info > .arrow::before {
    top: 0;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #172b4d;
}